$primary-color: #2B3B5A;
$secondary-color: #88A6C1;
$tertiary-color: #3D5980;

$background-color: #EAF3FA;

$primary-accent-color: #F0C12F;
$light-primary-accent-color: #FFEDB8;
$secondary-accent-color: #F14A39;

$white: #ffffff;