
@font-face {
    font-family: NotoSansJP Light;
    src: url(../assets/NotoSansJP-Light.otf);
}

@font-face {
    font-family: NotoSansJP Regular;
    src: url(../assets/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: NotoSansJP Medium;
    src: url(../assets/NotoSansJP-Medium.otf);
}

@font-face {
    font-family: NotoSansJP Bold;
    src: url(../assets/NotoSansJP-Bold.otf);
}